<app-doctor-details-card [selected]="selector"></app-doctor-details-card>
<app-doctor-overview [details]="selector.doc_overview"></app-doctor-overview>
<app-doctor-location [url]="myurl"></app-doctor-location>
<app-doctor-contact [address]="selector.hosp_address" [email]="selector.hosp_mail" [phone]="selector.hosp_phone"></app-doctor-contact>
<div id="words">
    PATIENT REVIEWS:
</div>
<div *ngFor="let i of selector.doc_patient" class="container1">
    <app-doctor-patient [patientreview]="i"></app-doctor-patient>
</div>