
.hospital{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: black;
    background-color: rgba(3, 212, 240, 0.267);
    border-radius: 25px;
    margin: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.24);
}

.card-body{
    margin-left: 20px;
    margin-top: 10px;
}

.avatar{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    align-items: center;
}