.con1{
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}


.card{
    background-color: #fff;
    box-shadow: 0 10px 30px #0000000d;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.part{
    background-color: rgba(136, 127, 255, 0.158);
    display: flex;
    position: relative;
    border-radius: 6px;
    padding-bottom: -30px;
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 30px;
    margin-top: 20px;
}

.title {
    align-items: center;
    align-items: flex-start;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

.icon {
    border: 1px solid var(--thm-border);
    background-color: #fff;
    color: var(--thm-base);
    width: 50px;
    height: 50px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 20px;
}

.icon i {
    font-size: 24px;
}

.part{
    flex: 1;
}
.part p {
    margin-bottom: 0;
}
p {
    margin-bottom: 20px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.ans p {
    margin-bottom: 0;
}
.ans {
    color: #005963
}

b{
    font-weight: 500;
    font-weight: bolder;
}
@media(max-width: 767px){
    .con1{
      max-width: 50%;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 15px;
      padding-right: 15px;
    }
    .part{
        margin-bottom: 30px;
    }
  }
  
  @media(max-width: 767px){
      .con1{
    max-width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .card{
    display: flex;
    flex-direction: column;
  }
  .part{
      margin-bottom: 30px;
  }
  }

  
#words{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 23px;
    padding-left: 23px;
    padding-top: 20px;
}